.app-about-main {
  min-height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-about-container {
  width: 100%;
  max-width: 400px;
  padding: 1.2rem;
  margin: 3rem 0;
}
