.app-input {
  margin-top: -36px;
}

.app-title {
  @media (max-width: 600px) {
    margin-top: -3rem;
  }
}

.app-cards-container {
  width: 100%;
  max-width: 450px;
  margin: 3em auto;
}

.app-card-image {
  padding: 1.2rem 1.2rem 0 1.2rem;
}

.app-daylenght-wrrapper {
  margin: 3rem 0;
}
