.element-is-hidden {
  opacity: 0;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.preloader-is-active {
  z-index: 10000;
  opacity: 0.8;
}
