.app-preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-about-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.app-cards-container {
  width: 100%;
  max-width: 450px;
  margin: 3em auto;
}

.app-card-image {
  padding: 1.2rem 1.2rem 0 1.2rem;
}

.app-daylenght-wrrapper {
  margin: 3rem 0;
}

// Toggle element visibility

.app-element-is-invisible {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.app-element-is-visible {
  opacity: 1;
  visibility: visible;
}
