.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-is-invisible {
  opacity: 0;
  z-index: -1000;
  transition: opacity 0.5s ease;
}

.component-is-visible {
  opacity: 1;
  z-index: 5;
}
